@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-colour {
  /* background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.bg-colour-login {
  background-color: #118ab2;
  background-image: linear-gradient(319deg, #118ab2 0%, #06d6a0 37%, #ffd166 100%);
}
